<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.StepUP.madadgaar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Reporting_Delete_User"></activity>
        <activity android:name=".activities.User_for_Approval" />
        <activity android:name=".activities.Pending_User_Screen" />
        <activity android:name=".activities.Reporting_Screen" />
        <activity android:name=".activities.Alert_Screen" />
        <activity android:name=".activities.No_Internet" />
        <activity android:name=".activities.About_Us" />
        <activity android:name=".activities.Not_done" />
        <activity android:name=".activities.Done_Activity" />
        <activity android:name=".activities.Sub_Mark" />
        <activity android:name=".activities.Add_Video_Id" />
        <activity android:name=".activities.EmployeesActivity" />
        <activity android:name=".activities.AdminActivity" />
        <activity android:name=".activities.LevelCompletedActivity" />
        <activity android:name=".activities.TechnicalActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.QuizActivity" />
        <activity android:name=".activities.Admin" />
        <activity android:name=".activities.VideoActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.SubCategoryActivity" />
        <activity android:name=".activities.CategoryActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.After_login" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>